<div>
  <div style="height: 20px;"></div>
  <div style="height: 20px;">--</div>
  <table cellspacing="0" cellpadding="0" border="0" margin="0">
    <tbody>
      <tr>
        <td style="background: #ffffff; height: 42px;"><span style="font-family: arial,helvetica,sans-seri; font-size: 54px; color: #114499;">IP</span> <span style="font-family: arial,helvetica,sans-seri;  font-size: 54px; color: #992200;"> <em>duties</em></span></td>
        <td>
          <table style="margin: 0px;" cellspacing="2" cellpadding="0" align="right" border="0">
            <tbody>
              <tr>
                <td style="width: 10px;">&nbsp;</td>
                <td style="height: 20px; width: 20px; background: #114499 none repeat scroll 0% 0%;">&nbsp;</td>
                <td style="height: 20px; width: 20px; background: #f0f022 none repeat scroll 0% 0%;">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="height: 20px; width: 20px; background: #992200 none repeat scroll 0% 0%;">&nbsp;</td>
                <td style="height: 20px; width: 20px; background: #000000 none repeat scroll 0% 0%;">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 10px;" colspan="2">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <div>
