
.ipduties-front-orbit {
 	@include breakpoint(medium) {
		 top: 80px;
	 }

	.orbit-slide {
		height: calc(100vh - 80px);
		width: 100%;
		background-size: cover;

	}

	.orbit-slide:nth-child(1) {
		background-image: url("https://i.imgur.com/3bXPlVe.jpg");
	}
	.orbit-slide:nth-child(2) {
		background-image: url("https://i.imgur.com/X3GUlkS.jpg");
	}
	.orbit-slide:nth-child(3) {
		background-color: white;
		background-image: url("https://i.imgur.com/6gShYy4.jpg?2");
		background-size: contain!important;
		background-position: center;
		background-repeat: no-repeat;
	}


	img.image-platinehell + .orbit-caption h1 {
	  color: #000ff0;}
	img.image-birne + .orbit-caption h1 {
	  color: #222222;}

}
